.buy-popup {
  display: none;
  position: fixed;
  top: 50px;
  left: calc(50% - 363px);
  width: 726px;
  height: 444px;
  background-color: $softpeach;
  z-index: 15;
}

.buy-popup__button {
  @include button(176px, 50px);

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    width: 176px;
  }

  margin: 0 auto 90px;
  margin-top: auto;
}

.buy-popup__form {
  display: flex;
  flex-wrap: wrap;
}

.buy-popup__title {
  width: 100%;
  padding: 0;
  margin-top: 72px;
  margin-bottom: 50px;
  font-size: 25px;
  line-height: 43px;
  font-weight: 600;
  text-align: center;
  color: $abbey;
}

.buy-popup__input {
  margin: 0 auto;
  width: 270px;
  height: 50px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 17px;
  padding-left: 13px;
  border: 1px solid $mischka;
  font-family: 'Montserrat', 'Arial', sans-serif;

  &--tel {
    padding-left: 25px;
  }
}

.buy-popup__close {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
  top: 0;
  border: none;
  background-color: transparent;
  z-index: 4;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 26px;
    right: 8px;
    width: 34px;
    height: 1px;
    background-color: rgba(20, 21, 23, 0.2);
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.buy-popup__show {
  display: flex;
}

@media (max-width: $tablet-width) {
  .buy-popup {
    width: 100%;
    left: 0px;
    min-height: 568px;
  }

  .buy-popup__form {
    margin: 0 16px;
  }

  .buy-popup__picture {
    display: none;
  }

  .buy-popup__title {
    margin-top: 100px;
  }

  .buy-popup__input {
    width: 100%;
  }

  .buy-popup__button {
    margin-top: 0px;
    margin-bottom: 185px;
  }

  .buy-popup__close {
    &::before,
    &::after {
      top: 30px;
      right: 14px;
    }
  }
}

