.group-tour {
  margin: 0;
  margin-left: 61px;
}

.group-tour__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: $woodsmoke;
  margin: 0;
  margin-bottom: 20px;
}

.group-tour__text {
  font-size: 14px;
  line-height: 24px;
  color: rgba(20, 21, 23, 0.5);
  margin: 0;
  max-width: 325px;
}

@media (max-width: $desktop-width) {
  .group-tour {
    text-align: center;
    margin: 39px auto 10px;
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .group-tour__text {
    margin: 0 13px 0 18px;
    max-width: none;
  }
}

@media (max-width: $tablet-width) {
  .group-tour {
    grid-row: 3/4;
    margin: 23px auto 10px;
  }
}
