.main__countries {
  max-width: 1170px;
  margin: 0 auto;
}

.main__price {
  margin: 0 auto;
  margin-top: 238px;
  margin-bottom: 139px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.main__question {
  max-width: 1170px;
  margin: 0 auto 170px;
  display: flex;
  position: relative;
}

@media (max-width: $desktop-width) {
  .main__price {
    margin: 0 auto;
  }

  .main__question {
    margin-bottom: 80px;
  }
}

@media (max-width: $tablet-width) {
  .main__question {
    margin-bottom: 70px;
  }
}
