.tour-view {
  max-width: 1170px;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 81px;
  position: relative;
}

.tour-view__item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tour-view__picture {
  grid-column: 2/3;
  grid-row: 1/4;
  min-width: 430px;
  min-height: 596px;
  object-fit: cover;
}

.tour-view__title {
  min-width: 470px;
  color: $dark;
  font-size: 55px;
  line-height: 90px;
  letter-spacing: -1.25px;
  font-weight: 600;
  margin: 0;
  margin-top: 9px;
  position: relative;
  height: min-content;
  &::after {
    content: '';
    width: 175px;
    height: 3px;
    background-color: $bittersweet;
    position: absolute;
    bottom: -16px;
    left: 0px;
  }
}

.tour-view__description {
  color: rgba(44, 46, 63, 0.7);
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.47px;
  max-width: 370px;
  margin-top: 49px;
  margin-bottom: 48px;
}

.tour-view__buy {
  @include button(250px, 75px)
}


@media (max-width: $desktop-width) {
  .tour-view {
    margin-top: 16px;
  }

  .tour-view__item {
    display: flex;
    flex-direction: column;
  }

  .tour-view__title {
    text-align: center;
    font-size: 30px;
    line-height: 45px;
    min-width: 0px;
    position: static;
    letter-spacing: 0;
    margin-top: 17px;

    &::after {
      display: none;
    }
  }

  .tour-view__description {
    text-align: center;
    margin: 21px auto 19px;
    max-width: none;
    padding: 0 15px;
  }

  .tour-view__buy {
    margin-bottom: 30px;
  }

  .tour-view__picture {
    width: 100%;
    height: 415px;
    min-height: 0;
    min-width: 0;
  }
}


@media (max-width: $tablet-width) {
  .tour-view__title {
    font-size: 24px;
    line-height: 36px;
    margin-top: 9px;
  }

  .tour-view__buy {
    margin-bottom: 50px;
  }
}
